@using Blazorise
@using Blazorise.Bootstrap
@using Blazorise.Icons.FontAwesome
@using No1_Online.Interfaces;
@using No1_Online.Models;
@using Blazorise.Components;
@inject IJSRuntime JS

<div class="search-group d-flex flex-grow-1">
    <div class="input-group me-2 flex-grow-1">
        <CompanyAutoComplete @bind-SelectedValue="client"
                             Placeholder="Search Company"
                              />
        <button class="btn btn-outline-primary" @onclick="SearchCompanyPage" type="button">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div class="input-group me-2 ">
        <input class="form-control" type="search" placeholder="Search Load Number" aria-label="Search" id="LoadsearchBox">
        <button class="btn btn-outline-primary" id="LoadsearchButton" type="button">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <button class="btn btn-primary btn-modal" type="button" data-bs-toggle="modal" data-bs-target="#uploadModal">
        <i class="fas fa-upload me-2"></i>Upload Record
    </button>
</div>

@code {
    private string client;

    private async Task SearchCompanyPage()
    {
        var newTabId = "search-company-tab";
        var newTabPaneId = "search-company-content";
        var tabTitle = "Company";
        var url = "/Company";
        string startDate = null;
        string endDate = null;
        var transporter = client;
        var page = "CompanySearch";

        await JS.InvokeVoidAsync("addTab", newTabId, newTabPaneId, tabTitle, url, startDate, endDate, transporter, page);
    }
}

