@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.RazorPages


@model No1_Online.Pages.ReportsManagementModel

@{
    ViewData["Title"] = "Reports Management";
}



<div class="container p-3">
    <div class="row mb-3">
        <div class="col">
            <input class="form-control" type="search" placeholder="Search Reports" aria-label="Search" id="reportSearchBox">
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-success" id="reportSearchButton" type="button">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Report Name</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="reportResults">
                    <!-- Results will be populated here -->
                </tbody>
            </table>
        </div>
       
    </div>
</div>

<script src="~/js/reports.js"></script>
