@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.RazorPages


@model No1_Online.Pages.ReportsManagementModel

@{
    ViewData["Title"] = "Reports Management";
}



<div class="container p-3">
    <div class="row mb-3">
        <div class="col">
            <input class="form-control" type="search" placeholder="Search Reports" aria-label="Search" id="reportSearchBox">
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-success" id="reportSearchButton" type="button">Search</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Available Reports</h2>
                <ul>
                    @foreach (var report in Model.Reports)
                    {
                        <li>@report</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="~/js/reports.js"></script>
