@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager
@inject IHttpContextAccessor _httpContextAccessor

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - No1_Online</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/No1_Online.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
        <div class="container-fluid">
            
          
            
            @if (signInManager.IsSignedIn(User))
            {
                <div class="p-2">
                    <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" >
                        <span class ="navbar-toggler-icon"></span>
                    </button>
                </div>
                    @if (_httpContextAccessor.HttpContext.Session.GetString("SelectedCompanyName") != null)
                        {
                            <div class="form-group me-2" >
                                <input type="text" class="form-control border-success " id="searchBox" placeholder="@_httpContextAccessor.HttpContext.Session.GetString("SelectedCompanyName")" readonly>
                            </div>

                        }
                else
                {
                    <form class="d-flex" asp-controller="Company" asp-action="SearchCompany" method="get">
                        <div class="form-group me-2 ">
                        <input type="text" class="form-control p-2" id="searchBox" name="searchBox" data-provide="typeahead" >
                        </div>
                        <button type="submit" class="btn btn-primary" >Select Company</button>
                        </form>
                }
                    
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Add navigation links here -->
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1"></ul>
                    <partial name="LoginPartial" />
                </div>

            }
            else
            {
                <label  class="navbar-brand">No1 Online Solutions</label>
            }

        </div>
    </nav>
</header>
<partial  name="OffCanvasPartial"/>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
   

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
