@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<AppUser> signInManager
@inject IHttpContextAccessor _httpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - No1_Online</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/No1_Online.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <a class="navbar-brand" href="/">
                            <img src="~/SVG/no1_new_logo.svg" alt="No1 Logo" height="30">
                        </a>
                        <div class="p-2">
                            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="d-flex">
                                <input class="form-control" type="search" placeholder="Search Company" aria-label="Search" id="searchBox">
                                <button class="btn btn-outline-success" id="searchButton" type="button">Search</button>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse ">
                            <div class="d-flex">
                                <input class="form-control" type="search" placeholder="Search Load Number" aria-label="Search" id="LoadsearchBox">
                                <button class="btn btn-outline-success" id="LoadsearchButton" type="button">Search</button>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse">
                            <div class="d-flex">
                                <input class="form-control" type="search" placeholder="Search Purchase Order" aria-label="Search" id="PurchasesearchBox">
                                <button class="btn btn-outline-success" id="PurchasesearchButton" type="button">Search</button>
                            </div>
                        </div>
                        <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="modal" data-target="#uploadModal">Upload Record</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1"></ul>
                            <partial name="LoginPartial" />
                        </div>
                    }
                </div>
            </nav>
    </header>


    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
            @if (signInManager.IsSignedIn(User))
            {
                <!-- Offcanvas content here -->
                <partial name="OffCanvasPartial"/>
            }
            </div>
            <div class="col">
                <div>
                    <ul class="nav nav-tabs" id ="dynamicTabList">
                       
                    </ul>
    
                    <div class="tab-content" id="dynamicTabContent">
                        
                    </div>
                </div>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <partial name="ModalPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/company.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tabstruct.js"></script>
  
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
